body{
    background-color: #131316;
    font-family: 'Montserrat', sans-serif;
}

#linha{
    width: 100%;
}
li {
    color: white;
    font-weight: bold;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    overflow: hidden;
    transition: 0.5;
    width: 100%;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover{
    font-size: 40px;
    transition: 400ms;
}

nav li {
    color: white;
    font-size: 32px;
    list-style: none;
    display: inline-flex;
    margin: 0 0 0 60px;
}

h1 {
    padding-bottom: 35px;
}

.apresentação{
    font-size: 25px;
    width: 940px;
    margin: auto auto;
    padding-top: 8em;
}   

.apresentação h1{
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: left;
}

p {
    font-size: 23px;
    color: wheat;
    margin-bottom: 1em;
}

.foto{
    border-radius: 50%;
    width: 25%;
    float:left;
    margin: 0 20px 20px 0;
}

.foto:hover{
    opacity: 0.7;
    transition: 400ms;
}

.icons{
    width: 4%;
    border-radius: 50%;
    margin:0px 10px 20px 0px ;
    float: none;
}

.icons:hover{
    width: 5%;
    transition: 400ms
}

.icons:hover:after{
    transition: 400ms;
}    

#dados{
    font-size: 20px;
    color: rgb(192, 192, 192);
}

#dados:hover{
    color: white;
}
.conhecimentos{
    font-size: 25px;
    width: 940px;
    margin: auto auto;
    padding-top: 8em;
}

footer{
    background: grey ;
    text-align: center;
    padding: 70px;
}

.copyright{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 20px 0;
}