body{
    background-color: #18181a;
    font-family: 'Montserrat', sans-serif;   
}

html{
    scroll-behavior: smooth;
}

/* Nav bar */
li {
    color: white;
    font-weight: bold;
    position: relative;
}

li::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: blueviolet;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: 400ms;
}

li:hover::before, li.active::before{
    transform: translateX(0);
    opacity: 1;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(60px);
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 700ms;
}

nav a:hover{
    font-size: 35px;
    transition: 400ms;
    color: blueviolet;
}

nav li {
    color: white;
    font-size: 32px;
    list-style: none;
    display: inline-flex;
    margin: 0 0 0 60px;
}

/* Apresentação */

.apresentação{
    font-size: 25px;
    width: 1000px;
    margin: auto auto;
    padding-top: 10em;
    padding-bottom: 2.5em;
}   

h2{
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 25px;
}

h1{
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-align: left;
    border-left: 5px solid purple;
    padding-left: 10px;
    margin-bottom: 25px;
}

p {
    font-size: 23px;
    color: wheat;
    margin-bottom: 1em;
}

.foto{
    border-radius: 50%;
    width: 22%;
    float:left;
    margin: 0 20px 20px 0;
}

.foto:hover{
    opacity: 0.7;
    transition: 400ms;
}

.icons{
    width: 4%;
    border-radius: 50%;
    margin:0px 20px 60px 0px ;
    transition: 400ms;
}

.icons:hover{
    width: 5%;
    transition: 400ms
}

.icons:hover:after{
    transition: 400ms;
}    

#dados{
    font-size: 20px;
    color: rgb(192, 192, 192);
}

#dados:hover{
    color: white;
}

/* Conhecimentos */
.conhecimentos{
    width: 1000px;
    margin: auto auto;
    font-size: 25px;
    place-items: center;
    align-content: center;
    margin-top: 5em;
}

.hidden{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%);

}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show{
    opacity: 1;
    transform: translateX(0);

}

.conhecimentos_icons{
    width: 8%;
    padding: 30px 40px;
    padding-top: 3em;

}

.conhecimentos_icons:hover{
    opacity: 0.5;

}

/* Projetos */
.projetos{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: auto auto;
    height: 100%;
    margin-top: 5em;
    
}

#nav_projetos h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 1000px;
    margin: auto auto;
    margin-top: 2em;
}

.card{
    position: relative;
    margin: 5px;
    height: 377px;
    width: 480px;
    perspective: 1000px;
}

.pong {
    height: 377px;
    width: 480px;
}

.card .flip{
    transition: 0.5s;
    transform-style: preserve-3d;
}

.card:hover .flip{
    transform: rotateY(180deg);
}

.front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
}

.back-card{
    transform: rotateY(180deg);
}

.front-card img, .back-card img{
    border-radius: 10px;
    box-shadow: 0 0 8px 0 black;
}

/* Certificados */
#nav_certificados{
    font-size: 25px;
    width: 1000px;
    margin: auto auto;
    padding-top: 5em;
    text-align: center;
    
}

#nav_certificados h1{
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.vitrine{
    width: 27%;
    margin-top: 2em;
    transition: 400ms;
}

.vitrine:hover{
    width: 35%;
    transition: 400ms;

}

/* Rodapé */
footer{
    background: black ;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
    margin-top: 4em;
    width: 100%;

}

.copyright{
    font-size: 20px;
    font-weight: bold;
    color: wheat;
}

.icon_footer{
    width: 2.5%;
    border-radius: 50%;
}

.top{
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0, 0.7);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px 0 black;
    font-size: 40px;
    
}
